<div class="col-lg-8 mb-2 mb-lg-0">								
									<div class="summary">
										<h2 class="checkout-title">Billing Details</h2>
										<div class="summary">
											<div class="col-lg-6 mb-2 mb-lg-0">
												<h2 class="title mb-1">Delivery details</h2><!-- End .title mb-2 -->
												<p> Sayan Satpati</p>
												<div class="row">
													<div class="col-12">
														<div class="contact-info">
															<ul>
																<li>
																	<i class="icon-map-marker"></i>
																	Unit 405, 3 Pretoria Parade, Hornsby
																</li>
																<li>
																	<i class="icon-phone"></i>
																	<a href="tel:#">+61421184908</a>
																</li>
																<li>
																	<i class="icon-envelope"></i>
																	<a href="mailto:#">sayansatpati2012@gmail.com</a>
																</li>
															</ul><!-- End .contact-list -->
														</div><!-- End .contact-info -->
													</div><!-- End .col-sm-7 -->
												</div><!-- End .row -->
											</div><!-- End .col-lg-6 -->										
										</div><!-- End .summary -->
										<h2 class="checkout-title">Payment Details</h2>
										<div class="row">
											<div class="col-lg-12 mx-auto">
												<div id="dropin-container">
											</div>
										</div>
            			
										</div>
									</div><!-- End .row -->
								</div>


	<script src="https://checkoutshopper-test.adyen.com/checkoutshopper/sdk/4.7.2/adyen.js"
     integrity="sha384-hhvkW03dAUXGdLB8iXXHW311qerCuAJvbU4LxZZzMP5knSYEFWAenVr0wa5ulKwO"
     crossorigin="anonymous"></script>

	<link rel="stylesheet"
     href="https://checkoutshopper-test.adyen.com/checkoutshopper/sdk/4.7.2/adyen.css"
     integrity="sha384-dkJjySvUD62j8VuK62Z0VF1uIsoa+APxWLDHpTjBRwQ95VxNl7oaUvCL+5WXG8lh"
     crossorigin="anonymous">
	 
	<script src="/static/js/adyen-implementation.js"></script>