{% extends "layout.html" %}
{% block content %}
        <main class="main">
        	<div class="page-header text-center" style="background-image: url('/static/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Checkout<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="checkout">
	                <div class="container">

            			<form action="#">
		                	<div class="row">
							 <input type="hidden" id="total-price" name="total-price" value="{{total_cart_price}}">
							 <input type="hidden" id="payment-options" name="payment-options" value='{{payment_options}}'>
		                		{%include "adyen-implementation.html" %}
		                		<aside class="col-lg-4">
		                			<div class="summary">
		                				<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

		                				<table class="table table-summary">
		                					<thead>
		                						<tr>
		                							<th>Product</th>
		                							<th>Total</th>
		                						</tr>
		                					</thead>

		                					<tbody>
												{% for item in cart %}
		                						<tr>
		                							<td><a href="{% url 'cart' %}"><b>{{item.qty}}</b> x {{item.product_name}}</a></td>
		                							<td>${{item.product_price}}</td>
		                						</tr>
												{% endfor %}
		                						<tr class="summary-subtotal">
		                							<td>Subtotal:</td>
		                							<td>${{total_cart_price}}</td>
		                						</tr><!-- End .summary-subtotal -->
		                						<tr>
		                							<td>Shipping:</td>
		                							<td>Free shipping</td>
		                						</tr>
		                						<tr class="summary-total">
		                							<td>Total:</td>
		                							<td>${{total_cart_price}}</td>
		                						</tr><!-- End .summary-total -->
		                					</tbody>
		                				</table><!-- End .table table-summary -->

										

		                			</div><!-- End .summary -->
		                		</aside><!-- End .col-lg-3 -->
		                	</div><!-- End .row -->
            			</form>
	                </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->


{% endblock %}
